<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="AV-Bible Addin for Microsoft Word" Manufacturer="DigitalAV" Version="9.24.12.28" UpgradeCode="1e5a748f-0470-4e51-a25c-c66e5c9421d8">
    <Upgrade Id="1e5a748f-0470-4e51-a25c-c66e5c9421d8">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="9.24.12.28" IncludeMinimum="yes" IncludeMaximum="no"/>
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

    <!--MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" /-->
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="Main">
      <ComponentGroupRef Id="AV_Bible_Addin" />
      <ComponentGroupRef Id="AV_Bible_Addin_Manager" />
      <ComponentGroupRef Id="AV_Bible_Addin_Data" />
    </Feature>
    
  </Package>
</Wix>
